<!DOCTYPE html>
<html>
  <head>
    <title>Tokbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <div class="row">
      <div class="col s4"> </div>
      <div class="col s4">
        <%= yield %>
      </div>
      <div class="col s4"> </div>
    </div>
  </body>
</html>
